/* $darkmode: True; */
/* $transparent: False; */
/* $primary_paletteKeyColor: #A504FF; */
/* $secondary_paletteKeyColor: #8B6D8D; */
/* $tertiary_paletteKeyColor: #9A678C; */
/* $neutral_paletteKeyColor: #7D7480; */
/* $neutral_variant_paletteKeyColor: #7E7382; */
/* $background: #17111B; */
/* $onBackground: #EBDFED; */
/* $surface: #17111B; */
/* $surfaceDim: #17111B; */
/* $surfaceBright: #3E3741; */
/* $surfaceContainerLowest: #FFFFFF; */
/* $surfaceContainerLow: #1F1923; */
/* $surfaceContainer: #241D27; */
/* $surfaceContainerHigh: #2E2832; */
/* $surfaceContainerHighest: #39323D; */
/* $onSurface: #EBDFED; */
/* $surfaceVariant: #4D4351; */
/* $onSurfaceVariant: #CFC2D3; */
/* $inverseSurface: #EBDFED; */
/* $inverseOnSurface: #352E38; */
/* $outline: #988D9D; */
/* $outlineVariant: #4D4351; */
/* $shadow: #000000; */
/* $scrim: #000000; */
/* $surfaceTint: #E2B6FF; */
/* $primary: #E2B6FF; */
/* $onPrimary: #4D007B; */
/* $primaryContainer: #6D00AC; */
/* $onPrimaryContainer: #F3DAFF; */
/* $inversePrimary: #9000DF; */
/* $secondary: #DEBCDF; */
/* $onSecondary: #402843; */
/* $secondaryContainer: #5A405D; */
/* $onSecondaryContainer: #FDD9FD; */
/* $tertiary: #F0B5DE; */
/* $onTertiary: #4B2142; */
/* $tertiaryContainer: #B680A7; */
/* $onTertiaryContainer: #000000; */
/* $error: #FFB4AB; */
/* $onError: #690005; */
/* $errorContainer: #93000A; */
/* $onErrorContainer: #FFDAD6; */
/* $primaryFixed: #F3DAFF; */
/* $primaryFixedDim: #E2B6FF; */
/* $onPrimaryFixed: #2E004D; */
/* $onPrimaryFixedVariant: #6D00AC; */
/* $secondaryFixed: #FCD7FB; */
/* $secondaryFixedDim: #DEBCDF; */
/* $onSecondaryFixed: #29132D; */
/* $onSecondaryFixedVariant: #583E5B; */
/* $tertiaryFixed: #FFD7F1; */
/* $tertiaryFixedDim: #F0B5DE; */
/* $onTertiaryFixed: #320C2C; */
/* $onTertiaryFixedVariant: #64385A; */

$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #FF9802;
$secondary_paletteKeyColor: #917145;
$tertiary_paletteKeyColor: #917230;
$neutral_paletteKeyColor: #857465;
$neutral_variant_paletteKeyColor: #887361;
$background: #1C1107;
$onBackground: #F5DECC;
$surface: #1C1107;
$surfaceDim: #1C1107;
$surfaceBright: #44372A;
$surfaceContainerLowest: #160C04;
$surfaceContainerLow: #25190E;
$surfaceContainer: #291D12;
$surfaceContainerHigh: #34281C;
$surfaceContainerHighest: #403226;
$onSurface: #F5DECC;
$surfaceVariant: #554333;
$onSurfaceVariant: #DBC2AD;
$inverseSurface: #F5DECC;
$inverseOnSurface: #3B2E22;
$outline: #A38D79;
$outlineVariant: #554333;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB870;
$primary: #FFB870;
$onPrimary: #4A2800;
$primaryContainer: #693C00;
$onPrimaryContainer: #FFDCBE;
$inversePrimary: #8B5000;
$secondary: #E7C08E;
$onSecondary: #432C06;
$secondaryContainer: #5C421A;
$onSecondaryContainer: #FFDDB3;
$tertiary: #E7C177;
$onTertiary: #402D00;
$tertiaryContainer: #AD8C47;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDCBE;
$primaryFixedDim: #FFB870;
$onPrimaryFixed: #2C1600;
$onPrimaryFixedVariant: #693C00;
$secondaryFixed: #FFDDB3;
$secondaryFixedDim: #E7C08E;
$onSecondaryFixed: #291800;
$onSecondaryFixedVariant: #5C421A;
$tertiaryFixed: #FFDEA2;
$tertiaryFixedDim: #E7C177;
$onTertiaryFixed: #261900;
$onTertiaryFixedVariant: #5C4201;


